




<section class="ftco-section bg-light">
    <div class="container-fluid">
      {% paginate collection.products by 4%}
        <div class="row">
            {% for product in collection.products %}
                 <div class="col-sm col-md-6 col-lg-3 ftco-animate">
                 <div class="product">
                            <a href="{{ product.url }}" class="img-prod"><img class="img-fluid lazyload" src="{{ product.featured_image.src  | img_url: '1920x' }}" >
                                <span class="status">30%</span>
                            </a>
                            <div class="text pt-3 px-3">
                                <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                       <p class="price"><span class="price-sale">{{product.price | money}}</span></p>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right">
                                          <span><i class="fas fa-star"></i></span>
                                          <span><i class="fas fa-star"></i></span>
                                          <span><i class="fas fa-star"></i></span>
                                          <span><i class="fas fa-star"></i></span>
                                          <span><i class="fas fa-star"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div> 
            {% endfor %}
          

        </div>
        {% if paginate.pages > 1 %}
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                {% if paginate.previous.is_link %}
                <li><a href="{{paginate.previous.url}}">{{paginate.previous.title}}</a></li>
                {% endif %}
                <li class=""><a class="" href="#">1</a></li>
                 <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
              
                {% if paginate.next.is_link %}
                <li class="" ><a class="" href="{{paginate.next.url}}">{{paginate.next.title}}</a></li>

                {% endif %}
             <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li> 
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
      
    {% endpaginate %}
    </div>
</section>