




<section class="ftco-section bg-light">
  
    <div class="container-fluid">
       <div class="row">
         <select name="sorting" id="sort_by" class="form-select form-select-lg mb-3">
          {% for option in collection.sort_options %}
            <option value="{{option.value}}">{{option.name}}</option>
          {% endfor %}
         </select>
      </div>
      {% paginate collection.products by 4%}
        <div class="row">
            {% for product in collection.products %}
                 <div class="col-sm col-md-6 col-lg-3 ftco-animate">
                 <div class="product">
                            <a href="{{ product.url }}" class="img-prod"><img class="img-fluid lazyload" src="{{ product.featured_image.src  | img_url: '1920x' }}" >
                                <span class="status">30%</span>
                            </a>
                            <div class="text pt-3 px-3">
                                <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                       <p class="price"><span class="price-sale">{{product.price | money}}</span></p>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right">
                                          <span><i class="fas fa-star"></i></span>
                                          <span><i class="fas fa-star"></i></span>
                                          <span><i class="fas fa-star"></i></span>
                                          <span><i class="fas fa-star"></i></span>
                                          <span><i class="fas fa-star"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div> 
            {% endfor %}
          

        </div>
        {% if paginate.pages > 1 %}
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul class="pagination justify-content-center">
                {% if paginate.previous.is_link %}
                <li class="page-item"><a class="page-link" href="{{paginate.previous.url}}">{{paginate.previous.title}}</a></li>
                {% endif %}
                
                
                {% for part in paginate.parts %}
                  {% if part.is_link %}
                  <li class="page-item"><a class="page-link" href="{{part.url}}">{{part.title}}</a></li>
                  {% else %}
                  <li class="page-item disabled"><a class="page-link" href="{{part.url}}">{{part.title}}</a></li>
                  {% endif %}
                {% endfor %}
                
                 {% for part in paginate.parts %}
                  
                {% endfor %}
                
                {% if paginate.next.is_link %}
                <li class="page-item" ><a class="page-link" href="{{paginate.next.url}}">{{paginate.next.title}}</a></li>

                {% endif %}
           
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
      
    {% endpaginate%}
    </div>
  
</section>