<!-- arrival section -->
<section class="arrival_section">
    <div class="container">
       <div class="box">
          <div class="arrival_bg_box">
             <img src="{{'arrival-bg.png' | asset_url }}" alt="">
          </div>
          <div class="row">
             <div class="col-md-6 ml-auto">
                <div class="heading_container remove_line_bt">
                   <h2>
                      #{{section.settings.title}}
                   </h2>
                </div>
                <p style="margin-top: 20px;margin-bottom: 30px;">
               {{ section.settings.description }}
                </p>
                <a href="{{section.settings.button_link}}">
                {{section.settings.button_text}}
                </a>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- end arrival section -->

 {% schema %}
 {
   "name": "arrivals",
  "settings": [
     {
       "type": "text",
         "id": "title",
         "label": "Arrivals Title",
         "default": "New Arrivals"
     },
    {
       "type": "richtext",
       "id": "description",
       "label": "Arrivals Text",
       "default": "<p>Vitae fugiat laboriosam officia perferendis provident aliquid voluptatibus dolorem, fugit ullam sit earum id eaque nisi hic? Tenetur commodi, nisi rem vel, ea eaque ab ipsa, autem similique ex unde!</p> ",
       "info": "Enter the text for the arrivals section"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
      },
      {
        "type": "text",
        "id": "button_link",
        "label": "Button Link",
        "default": "https:\/\/.google.com"
        } 
  ],
 "presets": [
    {
      "name": "arrivals"
       
    }
 ]
 }
 {% endschema %}