
<section class="ftco-section ftco-product">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
          <h1 class="big">Trending</h1>
        <h2 class="mb-4">Trending</h2>
      </div>
    </div>
      {% assign collection = collection[section.settings.collection] %}
        <div class="row">
          
            <div class="col-md-12">
              {% for product in collection.products limit: section.settings.product_limit %}
                <div class="product-slider owl-carousel ftco-animate">
                   
                    <div class="item">
                        <div class="product">
                            <a href="#" class="img-prod"><img class="img-fluid" src="{{ product.featured_image.src  | img_url: '1920x' }}" alt="Colorlib Template">
                                <span class="status">30%</span>
                            </a>
                            <div class="text pt-3 px-3">
                                <h3><a href="#">Young Woman Wearing Dress</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right">
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
<!--                     <div class="item">
                        <div class="product">
                            <a href="#" class="img-prod"><img class="img-fluid" src="{{ 'product-2.jpg' | asset_url }}" alt="Colorlib Template"></a>
                            <div class="text pt-3 px-3">
                                <h3><a href="#">Young Woman Wearing Dress</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$120.00</span></p>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right">
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product">
                            <a href="#" class="img-prod"><img class="img-fluid" src="{{ 'product-3.jpg' | asset_url }}" alt="Colorlib Template"></a>
                            <div class="text pt-3 px-3">
                                <h3><a href="#">Young Woman Wearing Dress</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$120.00</span></p>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right">
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product">
                            <a href="#" class="img-prod"><img class="img-fluid" src="{{ 'product-4.jpg' | asset_url }}" alt="Colorlib Template"></a>
                            <div class="text pt-3 px-3">
                                <h3><a href="#">Young Woman Wearing Dress</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$120.00</span></p>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right">
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
<!--                     <div class="item">
                        <div class="product">
                            <a href="#" class="img-prod"><img src="{{ 'product-5.jpg' | asset_url }}" alt="Colorlib Template">
                                <span class="status">30%</span>
                            </a>
                            <div class="text pt-3 px-3">
                                <h3><a href="#">Young Woman Wearing Dress</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right">
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
<!--                     <div class="item">
                        <div class="product">
                            <a href="#" class="img-prod"><img src="{{ 'product-6.jpg' | asset_url }}" alt="Colorlib Template"></a>
                            <div class="text pt-3 px-3">
                                <h3><a href="#">Young Woman Wearing Dress</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>$120.00</span></p>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right">
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                            <span class="ion-ios-star-outline"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
   "name": "Featured Collection",
    "settings": [
        {
           "type": "text",
           "id": "title",
           "label": "Featured Collection Title",
          "default": "Trending"
        },
        {
           "type": "collection",
            "id": "collection",
            "label": "Collection"

        },
        {
           "type": "range",
              "id": "product_limit",
                "label": "Product Limit",
                "min": 3,
                "max": 9,
                "default": 6
        }
        

    
    ],
   "presets": [
       {
           
           "name":"Featured Collection"
       }
   ]
}
{% endschema %}