<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      {% if section.settings.logo == blank %}
        <span>{{ shop.name }}</span>
      {% else %}
        {% assign imageSize = section.settings.logo_height | prepend: 'x' %}
        <img class="img-fluid" src="{{ section.settings.logo | img_url: imageSize }}" alt="{{ section.settings.logo.alt | default: shop.name }}" width="{{ section.settings.logo_height | times: section.settings.logo.aspect_ratio | round }}" height="{{ section.settings.logo_height }}">
      {% endif %}
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
	
   <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	            {% for link in linklists[section.settings.main_linklist].links %}
        {% if link.links == blank %}
        <li class="nav-item active"><a href="{{link.url}}" class="nav-link">{{link.title}}</a></li>
        {% endif %}
          {% if link.links != blank %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
            {% for childlink in link.links %}
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              {% for sublink in childlink.links %}
              <a class="dropdown-item" href="{{sublink.url}}">{{sublink.title}}</a>
              {% endfor %}
              
              <!-- <a class="dropdown-item" href="product-single.html">Single Product</a>
              <a class="dropdown-item" href="cart.html">Cart</a>
              <a class="dropdown-item" href="checkout.html">Checkout</a>  -->
            </div> 
            {% endfor %}
            
          </li>
          {% endif %}
        {% endfor%}

	        </ul>
	</div>
    
  </div>
</nav>

{% schema %}
{
  "name": "Header",
  "settings": [
  {
    "type": "header",
    "content": "Logo"
  },
  {
    "type": "image_picker",
    "id": "logo",
    "label": "Logo"
  },
  {
    "type": "text",
    "id": "logo_height",
    "label": "Logo height (px)",
    "default": "30",
    "info": "Recommended is 30"
  },
    {
      "type": "link_list",
      "id": "link_list",
      "label": "Main Menu",
      "default": "main-menu",
      "info": "Main Menu here"
    }
  ],
  "presets": [
    {
      "name": "Menu"
    }
  ]
}
{% endschema %}
