{% include 'product-header' %}



<section class="ftco-section bg-light">
  {% assign current_product = product.selected_or_first_available_variant %}

{% assign product_image = current_product.featured_image |default: product.featured_image %}
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<img src="{{ image.src |  img_url: 'medium' }}" class="img-fluid" alt="" id="ProductMainImage">
                    {% for image in product.images %}
                        <img src="{{ image.src |  img_url: 'medium' }}" class="img-fluid" alt="" >
                    {% endfor %}
                        
                    
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{ product.title }}</h3>
    				<p class="price"><span>{{ current_product.price |  money_with_currency }}</span></p>
    				<p>{{ product.description }}</p>
                  
                  {% form 'product', product,"class": "product-form", id: "AddToCartForm" %}
    				
						<div class="row mt-4">
							<div class="col-md-6">
								<div class="form-group d-flex">
		              <div class="select-wrap">
	                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                  <select name="" id="productSelect" class="form-control form-select">
						  {% for variant in product.variants %}
						  {% if variant.available %}
						  <option value="{{ variant.id }}">{{ variant.title }}</option>
						  <!-- <option value="">Medium</option>
						  <option value="">Large</option>
						  <option value="">Extra Large</option> -->
						  {% endif %}
						  {% else %}
						  <option value="{{ variant.id }}" disabled="disabled">{{ variant.title }}</option>
						  {% endfor %}
	                  
	                  </select>
	                </div>
		            </div>
							</div>
							<div class="w-100"></div>
							<div class="input-group col-md-6 d-flex mb-3">
	             	<span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>
	             	<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
	             	<span class="input-group-btn ml-2">
	                	<button type="submit" id="AddToCart" class="quantity-right-plus btn" data-type="plus" data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>
	             	</span>
	          	</div>
          	</div>
          	<p><a href="" id="AddToCart" class="btn btn-primary py-3 px-5">Add to Cart</a></p>
                  {% endform %}
    			</div>
    		</div>
    	</div>
    </section>

